.section {
  padding: 96px 32px;

  background-color: #040d02;
}
.container {
  max-width: 390px;
  margin: 0 auto;
}

.cardWrap {
  padding: 1px;
  border-radius: 16px;
  max-width: 390px;
  background: linear-gradient(
    80.54deg,
    #272d18 3.41%,
    rgba(73, 92, 28, 0.611441) 48.24%,
    rgba(190, 247, 61, 0.2) 95.7%
  );
}
.card {
  background: linear-gradient(
      251.11deg,
      rgba(92, 133, 0, 0.2) -70.73%,
      rgba(146, 211, 0, 0) 107.45%
    ),
    linear-gradient(0deg, #121212, #121212);
  padding: 32px;
  border-radius: 16px;
}

.imagesContainer {
  position: relative;
  height: 155px;
  margin-bottom: 32px;
}
.img {
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
}
.firstImgWrap {
  width: 112px;
  height: 101px;
  position: absolute;
  right: 5px;
  top: 19px;
  border-radius: 15px;
}
.secondImgWrap {
  position: absolute;
  width: 57px;
  height: 73px;
  border-radius: 15px;
}
.thirdImgWrap {
  position: absolute;
  width: 50px;
  height: 59px;
  bottom: 0;
  left: 15%;
  border-radius: 15px;
}
.medalOne,
.medalTwo,
.medalThree {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
.medalOne {
  width: 68px;
  height: 68px;
}
.medalTwo,
.medalThree {
  width: 19px;
  height: 22px;
}
.title {
  font-family: 'SFPro', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
  color: white;
  margin-bottom: 15px;
}
.descr {
  font-family: 'SFPro', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -1px;
  text-align: left;
  color: #d7e4d7;
}
@media screen and (min-width: 400px) {
  .firstImgWrap {
    right: 10%;
  }
  .secondImgWrap {
    left: 10%;
    top: 0;
  }
  .thirdImgWrap {
    left: 22%;
  }
}

@media screen and (min-width: 767px) {
  .container {
    max-width: 700px;
  }
  .cardWrap {
    max-width: 100%;
  }
  .card {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .textWrap {
    width: 45%;
  }
  .imagesContainer {
    flex-grow: 1;
    height: 255px;
    margin-bottom: 0;
  }
  .firstImgWrap {
    width: 140px;
    height: 115px;
    right: 0;
    top: 50px;
  }
  .secondImgWrap {
    width: 96px;
    height: 123px;
  }
  .thirdImgWrap {
    width: 85px;
    height: 99px;
  }
}
@media screen and (min-width: 1024px) {

  .container{
      
      max-width: 900px;
  }
.firstImgWrap{
  width: 189px;
  height: 170px;
}
}

@media screen and (min-width: 1024px) {

  .container{
      
      max-width: 972px;
  }
  
}